@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: calc(-0.0006236080178174674rem + 1.111804008908686vw); /* TODO: populate it according to screen size */
}

body {
  font-size: 1rem;
  line-height: 1.4;
}

body {
  min-height: 0vw;
  font-size: calc(0.4934210526315789vw + 0.506578947368421em); /* TODO: populate it according to screen size */
}

.backface-visibility {
  backface-visibility: hidden;
}



.input-class {
  @apply  placeholder:text-dark-grey placeholder:font-medium border-[0.0625rem] border-light-grey text-dark-grey bg-transparent rounded-full h-[69px] md:h-[4.17rem] mb-0 font-manrope text-3xl py-2 md:text-[0.97rem] font-medium relative hover:border-light-sea-green focus:border-light-sea-green active:border-light-sea-green outline-none;
}

.submit-class {
  @apply  placeholder:text-dark-grey placeholder:font-medium border-[0.0625rem] border-light-grey   rounded-full h-[69px] md:h-[4.17rem] mb-0 font-manrope text-3xl py-2 md:text-[0.97rem] relative capitalize bg-light-sea-green text-white font-semibold hover:bg-black-2 transition-colors ease-linear duration-150;
}

body {
  --sb-track-color: #282828;
  --sb-thumb-color: #523d19;
  --sb-size: 6px;
}

body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 1px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 1px;
}

@supports not selector(::-webkit-scrollbar) {
  body {
      scrollbar-color: var(--sb-thumb-color)
                     var(--sb-track-color);
  }
}